In [4]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import urllib3

In [5]:
h = urllib3.PoolManager()
resp = h.request('GET', 'https://gogov.ru/covid-19/msk')
a = resp.data.decode('utf-8')
soup = BeautifulSoup(a, 'lxml')
date = []
quantity = []
new_cases = []
j = 0
y = 0
for tag in soup.find_all("tr"):
        x = str("{0}: {1}".format(tag.name, tag.text).strip('tr: '))
        x = re.findall(r'[^а-я]*', x)[0]
        if len(x) > 40:
            date += [x[:8]]
            x = x[8:]
            quantity += [x[:7]]
            x = x[7:]
            new_cases += [x[2:8]]
            y = 0
            j = 0
date = date[:31]
quantity = quantity[:31]
new_cases = new_cases[:31]

In [6]:
table = pd.DataFrame([quantity, new_cases], 
columns = [date])

table

,16.02.21,15.02.21,14.02.21,13.02.21,12.02.21,11.02.21,10.02.21,09.02.21,08.02.21,07.02.21,...,26.01.21,25.01.21,24.01.21,23.01.21,22.01.21,21.01.21,20.01.21,19.01.21,18.01.21,17.01.21
0,959 405,957 996,956 178,954 619,952 656,950 517,948 477,947 036,945 452,943 724,...,917 825,915 508,913 126,910 057,907 389,904 352,900 894,898 442,895 327,891 648
1,+1 409,+1 818,+1 559,+1 963,+2 139,+2 040,+1 441,+1 584,+1 728,+2 028,...,+2 317,+2 382,+3 069,+2 668,+3 037,+3 458,+2 452,+3 115,+3 679,+4 012